
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# Python
#//////////////////////////
__pycache__/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# MacOS
#//////////////////////////
.DS_Store

#//////////////////////////
# Windows
#//////////////////////////
Thumbs.db

#//////////////////////////
# Agent
#//////////////////////////
AGENTS.md

tools/raw/
tools/main.pak
textures/
assets/resources/images/
assets/resources/images.meta
assets/resources/audio/
assets/resources/audio.meta
assets/resources/fonts/
assets/resources/fonts.meta
assets/resources/animations/
assets/resources/animations.meta
assets/resources/properties/
assets/resources/properties.meta
reference*